.header-logo {
  width: 45px;
}

.search-text-field fieldset {
  border-radius: 6px 0 0 6px;
}

.movie-genre {
  transform-origin: top;
  text-transform: uppercase;
  position: relative;
}

.movie-poster {
  max-width: 68px;
  object-fit: cover;
}

.movie-poster,
.movie-poster-container {
  height: 100px;
}

.movie-poster-container {
  width: 100px;
}

.ratings-loader {
  min-width: 100px;
}
