.header-logo {
  cursor: pointer;
}

.search-text-field fieldset {
  border-radius: 6px 0 0 6px;
}

.callout-image {
  width: 100%;
}

@media (min-width: 600px) {
  .callout-image {
    width: 400px;
    margin: 0 auto;
    display: block;
  }
}

.movie-poster.missing-poster {
  height: 85px;
  margin: 0 4px;
  display: block;
}

.movie-poster {
  max-width: 68px;
  object-fit: cover;
}

.movie-poster-container {
  width: 100px;
}

.movie-poster,
.movie-poster-container {
  height: 100px;
}

.ratings-loader {
  min-width: 100px;
}
